body
{
    background-image:url("budget.jpeg");
    background-repeat: no-repeat;
    background-size: 1300px 650px;
    background-attachment: fixed;
}

.fontClass
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-style: italic;
    color: orange;
}

h1
{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
    font-size: 37px;
    font-style: italic;
    text-align: center;
}

#id1
{
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    font-size: 47px;
    font-style: italic;
    text-align: center;
}

.labelClass
{
    color: darkred;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;   
}

